# Runtime files
.run_snappi_test/
clab-*/
container/images/*
!container/images/.gitkeep

# Large binary/files
*.tar.xz
*.tar.gz
*.tar
*.tgz
*.zip
*.bk
otgservice*

# ignore logs
*.log
./logs/*
./logs/.gitkeep

# Python
__pycache__/
*.pyc
*.pyo
.venv/
